body{
    width: 1024px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.name-label{
    border:2px solid black;
    background-color: white;
    margin: 0 auto;
    max-width: 95% ;
    text-align: center;
}

.outer-label{
    background-color: white;
    margin: 0 auto;
    width: 40% ;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.header{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:#abb8b8;
}

.person-name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 110%;
    padding-top: 2%;
}

.person-position{
    font-style: italic;
    font-size: 70%;
    padding-top: 4%;
    padding-bottom: 8%;
}

.flex-element2{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #abb8b8;
    padding-bottom: 2%
}

.profile{
    margin: 1%;
    width: 30%;
}

.image{
    margin-top: 1%;
    margin-left: 15%;
    width: 50%;
}

.contact{
    margin-top: 1%;
    width: 40%;
}

.address{
    margin-bottom:7%;
}

.email{
    margin-bottom:7%;
}

.website{
    margin-bottom:7%;
}

i{
    float: right; 
}

.fa-phone{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.profile-title{
    font-weight: bold;
    font-size: 80%;
}

.profile-content{
    margin-top: 3%;
    color: #abb8b8;
}

img{
    border-radius: 50%;
    width:60%;
    height: 100%;
}

.flex-element3{
    display: flex;
    margin-top: -1.5%;
    border-bottom: 2px solid #abb8b8;
    padding-bottom: 2%;
}

.education{
    margin-right: 10%;
    width: 30%;
}

.edu-title{   
    padding :2%;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
}

.edu-content{
    color: #abb8b8;
}

.skills{
    margin-right: 10%;
    width: 30%;
}

.skill-title{
    padding :2%;
    text-align: center;    
    border: 2px solid #e6be8a;
    background-color:#e6be8a;
    font-weight: 600;
}

.skills-content > ul{
    list-style: none;
}

.expertise{
    width: 30%;
}

.exp-content >ul{
    list-style: none;   
}


.exp-title{
    padding :2%;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
}

.flex-element4{
    display: flex;
    text-align: center;
    margin-top: -1.5%;
}

.experience{
    margin-left: 30%;
    width: 40%;
}

.experience-title{
    text-align: center;    
    border: 5px solid #e6be8a;
    background-color:#e6be8a;
    font-weight: 600;
}

.flex-element5, .flex-element6, .flex-element7{
    display: flex;
    padding-top: 2%;
}

.interior-title, .exterior-title{
    font-weight: 600;
}

.interior-content, .exterior-content{
    color: #abb8b8;
}

.stamp1{
    margin-left: 60%;
    text-align: center;
    border: 1px solid black;
    background-color:#e6be8a;
    padding :1% 0.3% 1% 0.3%;
}

.flex-element7{
    margin-top: 2%;
    background-color: #e6be8a;
}